%h1 Links

%p
  %a(href='https://elixir-lang.org/' target='x')
    https://elixir-lang.org/

%p
  %a(href='https://www.google.com/search?q=elixir+site:pragprog.com' target='x')
    https://www.google.com/search?q=elixir+site:pragprog.com

%p
  %a(href='https://pragprog.com/titles/elixir16/source_code' target='x')
    https://pragprog.com/titles/elixir16/source_code

%p
  %a(href='https://www.google.com/search?q=elixir+site:youtube.com' target='x')
    https://www.google.com/search?q=elixir+site:youtube.com

%p
  %a(href='https://github.com/pprzetacznik/IElixir' target='x')
    Elixir + Jupyter is IElixir
    %br/
    https://github.com/pprzetacznik/IElixir

%p
  %a(href='https://hub.docker.com/r/pprzetacznik/ielixir' target='x')
    https://hub.docker.com/r/pprzetacznik/ielixir

%p
  %a(href='https://medium.com/@tonyhammond/jupyter-notebooks-with-elixir-and-rdf-598689c2dad3' target='x')
    Tony Hammond: Jupyter-Notebooks-with-Elixir-and-RDF
    
%p
  %a(href='https://www.udemy.com/courses/search/?q=elixir%20programming%20language&src=sac&kw=elixir&p=1&price=price-free' target='x')
    Free Udemy Elixir Courses

%hr/



