%h1 Links

%p
  %a(href='https://elixir-lang.org/' target='x')
    https://elixir-lang.org/

%p
  %a(href='https://www.google.com/search?q=elixir+site:pragprog.com' target='x')
    https://www.google.com/search?q=elixir+site:pragprog.com
  
%p
  %a(href='https://www.google.com/search?q=elixir+site:youtube.com' target='x')
    https://www.google.com/search?q=elixir+site:youtube.com
%hr/



