%h1 Lesson 004 [ Under Construction ]

%p I describe a thought process below I used to write syntax to calculate factoral(n) via tail recursion.

%p Calculating factoral(n) with plain recursion is simple:

%p factoral(n) is n * factoral(n-1) until n is 1 where factoral(0) is defined as 1.

%p It is easy to code up factoral(n) using plain recursion.

%p Based on what I learned in Lessons 001, 002, 003 I started by writing a module.

