<!DOCTYPE html>
<html>
  <head>
    <title>elxr.us</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/favicon.ico">
  </head>

  <body>
    <%= render 'layouts/body_table' %>    
  </body>
</html>
